@model List<LocalWeather.Domain.Location>
@{
    var test = Model;
}
<h2 class="centerData">Choose Location:</h2>
    @{ foreach (var location in Model)
    {
        <table class="centerTable displayData">            
            <tr>
                <td><a href="@Url.Action("GetWeather", "Weather", new { Lat = location.Lat, lon = location.Lon})">@location.Display_Name</a></td>
            </tr>
        </table>
    }
    }



