
@{
    ViewData["Title"] = "SearchLocation";
}

<h2>SearchLocation</h2>
@using (Html.BeginForm("GetLocation", "Location", FormMethod.Post))
{
    @Html.TextBox("textBoxSearch");
    <input type="submit" value="Search" />
}

