html, body {
    height: 100%;
    font-family: "Cuprum", sans-serif;
}

/* Search page CSS styles*/

#start-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    background-color: ghostwhite;
}

#left-side {
    grid-column: 1;
    height: 100%;
    background-image: url(/images/foggy-forest.jpg);
    background-position: center;
    background-size: cover;
}

#right-side {
    grid-column: 2;
    
}

#search-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    width: 65%;
    margin: auto;
}

#name-header {
    grid-row: 1;
    margin-top: 40%;
    margin-bottom: 0.3em;
    text-transform: uppercase;
    text-align: center;
    font-size: 4.4em;
}

#text-input {
    margin-top: 0.5em;
    height: 2em;
    font-size: 2em;
}

footer {
    margin-top: auto;
    margin-bottom: 2em;
    text-align: center;
}

/* Locations CSS styles*/

#location-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
}

#forecast-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
}
