@model LocalWeather.Domain.WeatherForecast
@{

}

<main id="start-page">
    <div id="left-side">
    </div>
    <div id="right-side">
        <h1 id="name-header">Local weather</h1>
        @using (Html.BeginForm("GetLocation", "Location", FormMethod.Post))
        {
            <input id="text-input" type="text" name="textBoxSearch"/>
        }
        <footer>
            <p>Created by <a href="https://github.com/Mmmolin">Martin Molin</a></p>
        </footer>
    </div>
</main>






