@model LocalWeather.Domain.WeatherForecast
@{

}

<main id="start-page">
    <div id="left-side">
    </div>
    <div id="right-side">
        @*<div id="search-container">*@
            @*<h1 id="title-header">Local weather</h1>
            <input id="text-input" type="text" name="textBoxSearch" />
            <footer>
                <p>Created by <a href="https://github.com/Mmmolin">Martin Molin</a></p>
            </footer>*@
        </div>
    </div>
</main>






